<form action="/juice/<%= @juice.id %>" method="post">
<input name="_method" type="hidden" value="put" />
<input type="text" name="brand" id="brand" value="<%= @juice.brand %>">
<input type="text" name="name" id="name" value="<%= @juice.name %>">
 <input id="used" name="used" type="checkbox" value="finished" <%= @juice.used ? "checked" : "" %>/>
<input class="button" id="juice_submit" name="commit" type="submit" value="Update" />
</form>

<a href="/juice/<%= @juice.id %>/delete">Delete this item</a>
