<% if logged_in? %>
	<form action="/juice/create" method="POST">
		<input type="text" name="brand" id="brand" placeholder="manufacturer">
		<input type="text" name="name" id="name" placeholder="name of perfume">
		<input class="button" type="submit" value="add"/>	
	</form>
<% end %>

<ul class="sort-menu">
	<li><a href="#" onclick="sortFlasksByHouse();">alphabet</a></li>
	<li><a href="#" onclick="sortFlasksByDateAdded();">date added</a></li>
	<li><a href="#" onclick="sortFlasksByFormula();">formula</a></li>
</ul>
<% unless @juices.empty? %>
	<ul class="flasks">
		<% @juices.each do |juice| %>
			<!-- NOTE: using data- style attributes will not work with XHTML 1.1 -->
			<li class="flask" data-name="<%= juice.name %>" data-house="<%= juice.brand %>" data-date-added="<%= juice.created_at %>" data-formula="<%= juice.formula %>">
			<a href="/juice/<%= juice.id %>"><%= juice.brand %> - <%= juice.name %></a>
		<% end %>
	</ul>
	<% else %>
		<p>none, for now.</p>
<% end %>
